# .coveragerc for edx-video-pipeline
[run]
data_file = .coverage
source =
    VEDA
    VEDA_OS01
    control
    frontend
# do not calculate coverage for these for now
#    youtube_callback
#    scripts

omit =
    templates/*
    frontend/tests/*
    dependencies/*
    control/tests/*
    VEDA/tests/*
    VEDA_OS01/tests/*

concurrency=multiprocessing

[report]
ignore_errors = True

exclude_lines =
   pragma: no cover
   raise NotImplementedError

[html]
title = edx-video-worker Python Test Coverage Report
directory = reports/cover

