
.idea/

*.pyc

static/

sandbox.db

.coverage*

coverage/

reports/

.cache/

VEDA/settings/private.py

youtube_callback/static_files/youtubekey

### VisualStudioCode ###
.vscode/*

.python-version

.tox/
