## NOTE: This is not a working req file -- merely a collection for notes.
django==1.9
djangorestframework
django-cors-headers
django-oauth-toolkit==0.11.0
django-filter
django-model-utils
newrelic
uwsgi
pysftp
boto
pyyaml
requests==2.18.1
celery==3.1.18
