## NOTE:  Test requirements.
codecov==2.0.9
coverage==4.2
ddt==1.1.1
edx-lint==0.5.4
factory_boy==2.10.0
isort==4.2.15
moto==1.3.13
Paver==1.2.4
pep8==1.7.0
pytest==4.6.0
pytest-django==3.5.1
pytest-django-ordering==1.2.0
pylint==1.7.1
pylint-celery==0.3
pylint-django==0.7.2
responses==0.10.6
tox==3.14.0
